<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/sistema</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- Pool de Conexões - número de conexões-->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Mapeamento das entidades -->
		<mapping class="br.edu.bsi.sistema.domain.Estado" />
		<mapping class="br.edu.bsi.sistema.domain.Cidade" />
		<mapping class="br.edu.bsi.sistema.domain.Fabricante" />
		<mapping class="br.edu.bsi.sistema.domain.Cliente" />
		<mapping class="br.edu.bsi.sistema.domain.Funcionario" />
		<mapping class="br.edu.bsi.sistema.domain.ItemVenda" />
		<mapping class="br.edu.bsi.sistema.domain.Pessoa" />
		<mapping class="br.edu.bsi.sistema.domain.Produto" />
		<mapping class="br.edu.bsi.sistema.domain.Usuario" />
		<mapping class="br.edu.bsi.sistema.domain.Venda" />
				
	</session-factory>

</hibernate-configuration>